@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #0c0d10;
  --background: #f5f6fa;
  --primary: #4254c3;
  --secondary: #919eec;
  --accent: #455ef3;

  --font-scale: 1.333;
  --p: 1rem;
  --h5: calc(var(--p) * var(--font-scale));
  --h4: calc(var(--h5) * var(--font-scale));
  --h3: calc(var(--h4) * var(--font-scale));
  --h2: calc(var(--h3) * var(--font-scale));
  --h1: calc(var(--h2) * var(--font-scale));

  --cards: #ecedf7;
}

/* styles.css */
.light {
  background-image: repeating-linear-gradient(
      135deg,
      hsla(35, 0%, 71%, 0.09) 0,
      hsla(35, 0%, 71%, 0.09) 1px,
      transparent 1px,
      transparent 11px
    ),
    repeating-linear-gradient(
      45deg,
      hsla(35, 0%, 71%, 0.09) 0,
      hsla(35, 0%, 71%, 0.09) 1px,
      transparent 1px,
      transparent 11px
    ),
    linear-gradient(90deg, #f8f8f8, #f8f8f8);
}

.dark {
  background-image: repeating-linear-gradient(
      135deg,
      hsla(35, 0%, 71%, 0.09) 0,
      hsla(35, 0%, 71%, 0.09) 1px,
      transparent 1px,
      transparent 11px
    ),
    repeating-linear-gradient(
      45deg,
      hsla(35, 0%, 71%, 0.09) 0,
      hsla(35, 0%, 71%, 0.09) 1px,
      transparent 1px,
      transparent 11px
    ),
    linear-gradient(90deg, #09131c, #09131c);
}
