@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* white mode */
  --BackgroundWhite: #fbfbfe;
  --TextForWhite: #040316;
  --PrimaryForWhite: #2f27ce;
  --SecondaryForWhite: #dddbff;
  --AccentForWhite: #443dff;

  /* dark mode */
  --BackgroundDark: #010104;
  --TextForDark: #eae9fc;
  --primaryForDark: #3a31d8;
  --SecondaryForDark: #020024;
  --AccentForDark: #0600c2;
}
